---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Acme%20customer%20account.&card=123451234512345&email=andylim%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"type\": \"invalid_request_error\",\n    \"message\":
        \"Invalid token id: 123451234512345\"\n  }\n}\n"
  recorded_at: Thu, 21 Aug 2014 03:54:49 GMT
recorded_with: VCR 2.8.0
