---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Acme%20customer%20account.&card=tok_4dPTqyNIXNoRWF&email=andylim%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1408677823,\n  \"id\":
        \"cus_4dPTieLrQc3K4L\",\n  \"livemode\": false,\n  \"description\": \"Acme
        customer account.\",\n  \"email\": \"andylim@example.com\",\n  \"delinquent\":
        false,\n  \"metadata\": {},\n  \"subscriptions\": {\n    \"object\": \"list\",\n
        \   \"total_count\": 0,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4dPTieLrQc3K4L/subscriptions\",\n
        \   \"data\": [],\n    \"count\": 0\n  },\n  \"discount\": null,\n  \"account_balance\":
        0,\n  \"currency\": null,\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4dPTieLrQc3K4L/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_4dPTNMesjsFfs3\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"brand\": \"Visa\",\n        \"funding\":
        \"credit\",\n        \"exp_month\": 8,\n        \"exp_year\": 2015,\n        \"fingerprint\":
        \"K4rn7HQ6KbOupkia\",\n        \"country\": \"US\",\n        \"name\": \"Andy
        Lim\",\n        \"address_line1\": null,\n        \"address_line2\": null,\n
        \       \"address_city\": null,\n        \"address_state\": null,\n        \"address_zip\":
        null,\n        \"address_country\": null,\n        \"cvc_check\": \"pass\",\n
        \       \"address_line1_check\": null,\n        \"address_zip_check\": null,\n
        \       \"customer\": \"cus_4dPTieLrQc3K4L\",\n        \"type\": \"Visa\"\n
        \     }\n    ],\n    \"count\": 1\n  },\n  \"default_card\": \"card_4dPTNMesjsFfs3\",\n
        \ \"subscription\": null\n}\n"
  recorded_at: Fri, 22 Aug 2014 03:23:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4dPTieLrQc3K4L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"obje[...]
[...]
