---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Test%20Stripe%20Customer%20for%20johnsmith%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410139822,
          "id": "cus_4jkU19JfobXrNo",
          "livemode": false,
          "description": "Test Stripe Customer for johnsmith@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkU19JfobXrNo/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkU19JfobXrNo/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "subscription": null
        }
  recorded_at: Mon, 08 Sep 2014 01:30:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=John%20Smith&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4jkUyYcLApuZla",
          "livemode": false,
          "created": 1410139823,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4jkULLg4uYUH03",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "John Smith",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Mon, 08 Sep 2014 01:30:23 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: percent_off=25&duration=repeating&duration_in_months=3&id=DISCOUNT
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "created": 1410139824,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 0,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 08 Sep 2014 01:30:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=3000&interval=month&name=Silver%20Plan&currency=usd&id=SILVER
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Silver Plan",
          "created": 1410139825,
          "amount": 3000,
          "currency": "usd",
          "id": "SILVER",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 08 Sep 2014 01:30:25 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4jkUK0BWlMvaHr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4jkUK0BWlMvaHr/subscription
    body:
      encoding: US-ASCII
      string: plan=BRONZE&coupon=DISCOUNT
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4jkU0BaqG0X6TF",
          "plan": {
            "interval": "month",
            "name": "Bronze Plan",
            "created": 1410139826,
            "amount": 2500,
            "currency": "usd",
            "id": "BRONZE",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1410139827,
          "status": "active",
          "customer": "cus_4jkUK0BWlMvaHr",
          "cancel_at_period_end": false,
          "current_period_start": 1410139827,
          "current_period_end": 1412731827,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Mon, 08 Sep 2014 01:30:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4jkU19JfobXrNo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410139822,
          "id": "cus_4jkU19JfobXrNo",
          "livemode": false,
          "description": "Test Stripe Customer for johnsmith@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkU19JfobXrNo/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkU19JfobXrNo/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "subscription": null
        }
  recorded_at: Mon, 08 Sep 2014 01:30:28 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_4jkU19JfobXrNo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_4jkU19JfobXrNo"
        }
  recorded_at: Mon, 08 Sep 2014 01:30:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/DISCOUNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "created": 1410139824,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 1,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 08 Sep 2014 01:30:30 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/SILVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Silver Plan",
          "created": 1410139825,
          "amount": 3000,
          "currency": "usd",
          "id": "SILVER",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 08 Sep 2014 01:30:31 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/BRONZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Bronze Plan",
          "created": 1410139826,
          "amount": 2500,
          "currency": "usd",
          "id": "BRONZE",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 08 Sep 2014 01:30:32 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/BRONZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "BRONZE"
        }
  recorded_at: Mon, 08 Sep 2014 01:30:33 GMT
recorded_with: VCR 2.8.0
