<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> - Welcome to Our Service</h1>
    <p>
      You have successfully signed up to example.com,
      your account information is as follows:
    </p>
    <ul>
      <li>Account login: <%= @user.email %></li>
      <li>Password: <%= @user.password %></li>
    </ul>
    <p>
      To login to the site, just follow this link -
      <%= link_to 'login', @login_url %>.
      If you would like to change your password, you can use the 'Profile'
      menu item, after you login.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

