<%= @user.first_name %> - Welcome to Our Service

You have successfully signed up to example.com, your account 
information is as follows:

Account login: <%= @user.email %></li>
Password: <%= @user.password %></li>

To login to the site, just follow this link:
  <%= @login_url %>.
      
If you would like to change your password, you can use the 'Profile'
menu item, after you login.

Thanks for joining and have a great day!
