<div class='page-header'>
  <h1>Administrator Overview Page</h1>
  <p>
          On this page you will find administrative overview for your web
          services.
  </p>
</div>
<%= render partial: 'shared/flash', locals: { flash: flash } %>
