---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/30750
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 30750",
            "param": "id"
          }
        }
  recorded_at: Wed, 03 Sep 2014 03:51:10 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/35468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 35468",
            "param": "id"
          }
        }
  recorded_at: Mon, 08 Sep 2014 01:48:51 GMT
recorded_with: VCR 2.8.0
