---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Mickey%20Mouse&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=616
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4hudujkHt92STS",
          "livemode": false,
          "created": 1409716333,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4huds0LUZ8APlD",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "Mickey Mouse",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Wed, 03 Sep 2014 03:52:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Mickey%20Mouse&card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2015&card[cvc]=616
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_5B87ddCRHkfEJP",
          "livemode": false,
          "created": 1416455004,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_5B87Q1hWSOzV1T",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2015,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "Mickey Mouse",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Thu, 20 Nov 2014 03:43:24 GMT
recorded_with: VCR 2.8.0
