---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/42370
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 42370",
            "param": "id"
          }
        }
  recorded_at: Wed, 03 Sep 2014 03:50:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Jane%20Smith&card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2014&card[cvc]=616
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_5B86tphGqZoT6w",
          "livemode": false,
          "created": 1416454989,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_5B86fAGzglASqE",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2014,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "Jane Smith",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Thu, 20 Nov 2014 03:43:09 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/60485
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 60485",
            "param": "id"
          }
        }
  recorded_at: Thu, 20 Nov 2014 04:02:18 GMT
recorded_with: VCR 2.8.0
