<!-- -------------------------------------------------------------------
This partial is used to list the resources that are associated with a
group. This partial will need to be customized to match the attributes
of the related resource.
-------------------------------------------------------------------- -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Project name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
