<%- model_class = User -%>
<div class="page-header">
  <h1>Edit User Account</h1>
  <p>
    If you would like to update the user account record, please use
    the form below.
  </p>
</div>
<%= render 'form' %>
