<% if !flash.nil? %>
	<% if flash[:notice] %>
		<div class='alert alert-success'>
			<a class="close" data-dismiss="alert" href="#">×</a>
			<h4 class="alert-heading">Success!</h4>
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:error] %>
		<div class='alert alert-error'>
			<a class="close" data-dismiss="alert" href="#">×</a>
			<h4 class="alert-heading">Error!</h4>
			<%= flash[:error] %>
		</div>
	<% end %>

	<% if flash[:alert] %>
		<div class="alert alert-block">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<h4 class="alert-heading">Warning!</h4>
			<%= flash[:alert] %>
		</div>
	<% end %> 
	
	<!-- Clear the flash values once they have been displayed -->
	<% flash[:error] = flash[:alert] = flash[:notice] = nil %> 
<% end %>
      	
