---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Mickey%20Mouse&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2017&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4hv2829TruP9V0",
          "livemode": false,
          "created": 1409717815,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4hv2doNVNSoBrN",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2017,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "Mickey Mouse",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Wed, 03 Sep 2014 04:16:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Acme%20customer%20account.&card=tok_4hv2829TruP9V0&email=andylim%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1409717816,
          "id": "cus_4hv2XkYLh6sCPO",
          "livemode": false,
          "description": "Acme customer account.",
          "email": "andylim@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4hv2XkYLh6sCPO/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4hv2XkYLh6sCPO/cards",
            "data": [
              {
                "id": "card_4hv2doNVNSoBrN",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2017,
                "fingerprint": "K4rn7HQ6KbOupkia",
                "country": "US",
                "name": "Mickey Mouse",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4hv2XkYLh6sCPO",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_4hv2doNVNSoBrN",
          "subscription": null
        }
  recorded_at: Wed, 03 Sep 2014 04:16:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4hv2XkYLh6sCPO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
