---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Test%20Stripe%20Customer%20for%20johnsmith%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411443466,
          "id": "cus_4pOvFiLyPKfO21",
          "livemode": false,
          "description": "Test Stripe Customer for johnsmith@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4pOvFiLyPKfO21/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4pOvFiLyPKfO21/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "subscription": null
        }
  recorded_at: Tue, 23 Sep 2014 03:37:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=John%20Smith&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4pOvaXvO9FPWCs",
          "livemode": false,
          "created": 1411443467,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4pOvKYgWx740Uo",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "John Smith",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Tue, 23 Sep 2014 03:37:47 GMT
[...]
