<%- model_class = Project -%>
<div class="page-header">
  <h1>Edit Project</h1>
  <p>
    You can edit an existing project using the form below. The
    project will represent the primary resource on this service.
    Other records will be related to this project record. You
    can also update access privileges to this project for any
    user groups that you have created.
  </p>
</div>
<%= render 'form' %>
