---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/84061
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"type\": \"invalid_request_error\",\n    \"message\":
        \"No such customer: 84061\",\n    \"param\": \"id\"\n  }\n}\n"
  recorded_at: Tue, 26 Aug 2014 02:24:49 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/55533
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"type\": \"invalid_request_error\",\n    \"message\":
        \"No such customer: 55533\",\n    \"param\": \"id\"\n  }\n}\n"
  recorded_at: Tue, 26 Aug 2014 02:50:16 GMT
recorded_with: VCR 2.8.0
