<div class="panel">
 <div class="row">

  <div class="large-4 columns">
  
      <h3>Bronze Plan</h3>
      <h4>$99.99/mo.</h4>
    
    <ul>
      <li>Feature A</li>
      <li>Feature B</li>
      <li>Feature C</li>
    </ul>
    <br/><br/><br/><br/>
  </div>
  
  <div class="large-4 columns">
      <h3>Silver Plan</h3>
      <h4>$149.99/mo.</h4>
    
    <ul>
      <li>Feature A</li>
      <li>Feature B</li>
      <li>Feature C</li>
      <li>Feature D</li>
      <li>Feature E</li>
    </ul> 
    <br/><br/>  
  </div>
  
  <div class="large-4 columns">
      <h3>Gold Plan</h3>
      <h4>$199.99/mo.</h4>
    
    <ul>
      <li>Feature A</li>
      <li>Feature B</li>
      <li>Feature C</li>
      <li>Feature D</li>
      <li>Feature E</li>
      <li>Feature F</li>
      <li>Feature G</li>
    </ul>    
  </div>
 </div>
</div>
