<div class="row">
<div class="Large-12 columns">
  <h1></h1>
  <h1>Change Subscription Plan</h1>
  <p>
    On this page you have the option to change your subscription plan
    to a different one from the one you currently have. Your options
    are shown below, as well as, the plan you currently have.
  </p>
  <dl class="dl-horizontal">
  <dd id="plan_entries"><strong>Current Plan: </strong><%= @subscription.plan_str.capitalize %></dd>
    <!--<dd id="plan_entries"><%= @subscription.plan_str.capitalize %></dd> -->
  </dl>
</div>
</div>
</div>

<%= render 'plan_options' %>

<%= render 'form' %>
