<%- model_class = Subscription -%>
<div class="page-header">
  <h1>Subscribe</h1>
  <p>
    You can subscribe to one of our subscription plans using the 
    form below. You have a choice of several plans at different 
    price points.
  </p>
</div>

<%= render partial: 'plan_options' %>

<%= render partial: 'form' %>

