---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Test%20Stripe%20Customer%20for%20johnsmith%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410139683,
          "id": "cus_4jkRExw1p7ZC5z",
          "livemode": false,
          "description": "Test Stripe Customer for johnsmith@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkRExw1p7ZC5z/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkRExw1p7ZC5z/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "subscription": null
        }
  recorded_at: Mon, 08 Sep 2014 01:28:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=John%20Smith&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4jkRzDfRxfV8YF",
          "livemode": false,
          "created": 1410139683,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4jkROfwyPu6YQd",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "John Smith",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Mon, 08 Sep 2014 01:28:03 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: percent_off=25&duration=repeating&duration_in_months=3&id=DISCOUNT
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "created": 1410139685,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 0,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 08 Sep 2014 01:28:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=3000&interval=month&name=Silver%20Plan&currency=usd&id=SILVER
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Silver Plan",
          "created": 1410139686,
          "amount": 3000,
          "currency": "usd",
          "id": "SILVER",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 08 Sep 2014 01:28:06 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4jkRax5w7ZNacb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4jkRax5w7ZNacb/subscription
    body:
      encoding: US-ASCII
      string: plan=SILVER&coupon=DISCOUNT
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4jkRlDJsCrIkrG",
          "plan": {
            "interval": "month",
            "name": "Silver Plan",
            "created": 1410139686,
            "amount": 3000,
            "currency": "usd",
            "id": "SILVER",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1410139688,
          "status": "active",
          "customer": "cus_4jkRax5w7ZNacb",
          "cancel_at_period_end": false,
          "current_period_start": 1410139688,
          "current_period_end": 1412731688,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Mon, 08 Sep 2014 01:28:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4jkRExw1p7ZC5z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410139683,
          "id": "cus_4jkRExw1p7ZC5z",
          "livemode": false,
          "description": "Test Stripe Customer for johnsmith@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkRExw1p7ZC5z/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4jkRExw1p7ZC5z/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "subscription": null
        }
  recorded_at: Mon, 08 Sep 2014 01:28:09 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_4jkRExw1p7ZC5z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_4jkRExw1p7ZC5z"
        }
  recorded_at: Mon, 08 Sep 2014 01:28:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/DISCOUNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "created": 1410139685,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 1,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 08 Sep 2014 01:28:10 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/SILVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Silver Plan",
          "created": 1410139686,
          "amount": 3000,
          "currency": "usd",
          "id": "SILVER",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 08 Sep 2014 01:28:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/BRONZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Bronze Plan",
          "created": 1410139686,
          "amount": 2500,
          "currency": "usd",
          "id": "BRONZE",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 08 Sep 2014 01:28:13 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/BRONZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "BRONZE"
        }
  recorded_at: Mon, 08 Sep 2014 01:28:13 GMT
recorded_with: VCR 2.8.0
