---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Andy%20Lim&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4huy4tRSXhc1Rk",
          "livemode": false,
          "created": 1409717571,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4huyTzLtlS6bRm",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "Andy Lim",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Wed, 03 Sep 2014 04:12:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Acme%20customer%20account.&card=123451234512345&email=andylim%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid token id: 123451234512345"
          }
        }
  recorded_at: Wed, 03 Sep 2014 04:12:51 GMT
recorded_with: VCR 2.8.0
