---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Test%20Stripe%20Customer%20for%20johnsmith%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411443544,
          "id": "cus_4pOwNPaBWG9LCE",
          "livemode": false,
          "description": "Test Stripe Customer for johnsmith@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4pOwNPaBWG9LCE/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4pOwNPaBWG9LCE/cards",
            "data": [],
            "count": 0
          },
          "default_card": null,
          "subscription": null
        }
  recorded_at: Tue, 23 Sep 2014 03:39:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=John%20Smith&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4pOwaNPrZ6NUO1",
          "livemode": false,
          "created": 1411443545,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4pOwPpcUrBFIWT",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "John Smith",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Tue, 23 Sep 2014 03:39:05 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: percent_off=25&duration=repeating&duration_in_months=3&id=DISCOUNT
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "created": 1411496536,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 0,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Tue, 23 Sep 2014 18:22:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=3000&interval=month&name=Silver%20Plan&currency=usd&id=SILVER
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Silver Plan",
          "created": 1411496537,
          "amount": 3000,
          "currency": "usd",
          "id": "SILVER",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Tue, 23 Sep 2014 18:22:17 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/DISCOUNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "created": 1411496536,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 0,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Tue, 23 Sep 2014 18:22:18 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/coupons/DISCOUNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "DISCOUNT"
        }
  recorded_at: Tue, 23 Sep 2014 18:22:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/SILVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Silver Plan",
          "created": 1411496537,
          "amount": 3000,
          "currency": "usd",
          "id": "SILVER",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Tue, 23 Sep 2014 18:22:20 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/BRONZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Bronze Plan",
          "created": 1411496538,
          "amount": 2500,
          "currency": "usd",
          "id": "BRONZE",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Tue, 23 Sep 2014 18:22:21 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4pOwfgI5UF4ziL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: cus_4pOwfgI5UF4ziL",
            "param": "id"
          }
        }
  recorded_at: Tue, 23 Sep 2014 18:33:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/10913
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2012-09-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 10913",
            "param": "id"
          }
        }
  recorded_at: Wed, 24 Sep 2014 16:52:20 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/41949
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 41949",
            "param": "id"
          }
        }
  recorded_at: Wed, 19 Nov 2014 02:58:52 GMT
recorded_with: VCR 2.8.0
