---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Jane%20Smith&card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2014&card[cvc]=616
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_5B87nAT24CKnEK",
          "livemode": false,
          "created": 1416455018,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_5B87J85H0le6nd",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2014,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "country": "US",
            "name": "Jane Smith",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Thu, 20 Nov 2014 03:43:38 GMT
recorded_with: VCR 2.8.0
