---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Jane%20Smith&card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=616
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_4ete0NHAZh8z9I\",\n  \"livemode\": false,\n  \"created\":
        1409020731,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_4etezaZxBRvpTd\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"brand\": \"Visa\",\n    \"funding\": \"credit\",\n
        \   \"exp_month\": 8,\n    \"exp_year\": 2015,\n    \"fingerprint\": \"K4rn7HQ6KbOupkia\",\n
        \   \"country\": \"US\",\n    \"name\": \"Jane Smith\",\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"customer\":
        null,\n    \"type\": \"Visa\"\n  }\n}\n"
  recorded_at: Tue, 26 Aug 2014 02:38:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Acme%20customer%20account.&card=tok_4ete0NHAZh8z9I&email=janesmith%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1409020732,\n  \"id\":
        \"cus_4ete2j96tyvC2p\",\n  \"livemode\": false,\n  \"description\": \"Acme
        customer account.\",\n  \"email\": \"janesmith@example.com\",\n  \"delinquent\":
        false,\n  \"metadata\": {},\n  \"subscriptions\": {\n    \"object\": \"list\",\n
        \   \"total_count\": 0,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4ete2j96tyvC2p/subscriptions\",\n
        \   \"data\": [],\n    \"count\": 0\n  },\n  \"discount\": null,\n  \"account_balance\":
        0,\n  \"currency\": null,\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4ete2j96tyvC2p/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_4etezaZxBRvpTd\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"brand\": \"Visa\",\n        \"funding\":
        \"credit\",\n        \"exp_month\": 8,\n        \"exp_year\": 2015,\n        \"fingerprint\":
        \"K4rn7HQ6KbOupkia\",\n        \"country\": \"US\",\n        \"name\": \"Jane
        Smith\",\n        \"address_line1\": null,\n        \"address_line2\": null,\n
        \       \"address_city\": null,\n        \"address_state\": null,\n        \"address_zip\":
        null,\n        \"address_country\": null,\n        \"cvc_check\": \"pass\",\n
        \       \"address_line1_check\": null,\n        \"address_zip_check\": null,\n
        \       \"customer\": \"cus_4ete2j96tyvC2p\",\n        \"type\": \"Visa\"\n
        \     }\n    ],\n    \"count\": 1\n  },\n  \"default_card\": \"card_4etezaZxBRvpTd\",\n
        \ \"subscription\": null\n}\n"
  recorded_at: Tue, 26 Aug 2014 02:38:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4ete2j96tyvC2p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"obje[...]
