---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Andy%20Lim&card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_4d2ZiDil2vmBJZ\",\n  \"livemode\": false,\n  \"created\":
        1408592658,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_4d2Zykf7MFAvb2\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"brand\": \"Visa\",\n    \"funding\": \"credit\",\n
        \   \"exp_month\": 8,\n    \"exp_year\": 2015,\n    \"fingerprint\": \"K4rn7HQ6KbOupkia\",\n
        \   \"country\": \"US\",\n    \"name\": \"Andy Lim\",\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"customer\":
        null,\n    \"type\": \"Visa\"\n  }\n}\n"
  recorded_at: Thu, 21 Aug 2014 03:44:18 GMT
recorded_with: VCR 2.8.0
