<!-- Navigation Menu ------------------------------------------ -->
<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
  </section>

  <section class="right tab-bar-section">

    <%= image_tag('ignition_logo.svg', class: 'admin-logo') %>
    <div class='right'>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'button tiny radius') %>
    </div>

  </section>
</nav>
