<%- model_class = Account -%>

<%= render 'shared/page_header',
  flash: flash,
  title: 'New Credit Card',
  description: "The form below will enable you to enter your credit information.
    This information is not stored by our service, but is stored with our
    PCI compliant payment processor <a href='http://www.stripe.com'>
    Stripe.com</a>."
%>

<%= render 'form', account: @account %>
